.large-hero{
    border-bottom: 10px solid $mainBlue;
    display: grid;
    grid-template-columns: 1fr;

&__image{
    grid-column: 1;
    grid-row: 1;

    img{
        display: block;
    }
   
}

&__text-content{
    padding-top: 55px;
    text-align: center;
    grid-column: 1;
    grid-row: 1;
    align-self: center;
}

&__title{
    font-weight: 300;
    color: $mainBlue;
    margin: 0;
    font-size:2.4rem;


    @mixin forTablet {
        font-size: 3.2rem;
    }

    @mixin forDesktop {
        font-size: 4.8rem;
    }
   
}

&__subtitle{
    font-weight: 300;
    color: $mainBlue;
    font-size:1.5rem;
    margin: 0;

    @mixin forMiniTablet{
        font-size: 1.9rem;
    }

    @mixin forTablet {
        font-size: 2.5rem;
    }

    @mixin forDesktop {
        font-size: 3rem;
    }

}

&__description{
    color:#fff;
    font-size: 1.3rem;
    max-width: 30rem;
    margin:0 auto;
    font-weight:100;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, .1);

    @mixin forTablet {
        font-size: 1.875rem;
    }
    
    @mixin forDesktop {
        font-size: 2rem;
    }
}


}