.primary-navigation{
    
    padding-top: 10px;
    @mixin forTablet{
        padding-top: 0;
       }

   

    ul{
        margin: 0;
        padding: 0;
    }

    li{
        list-style-type: none;
        display: inline-block;
        padding-right: 15px;
        
        @mixin forTablet{
            padding-right: 20px;
            
           }

    }

    li:last-child {
        padding-right: 0;
        @mixin forTablet{
            padding-right: 20px;
           }
    }

    a{
        color: #fff;
        font-weight: 300;
        text-decoration: none;
        display: block;
        padding: 5px 8px;
        background-color: rgba($mainBlue, .6 );

        @mixin forTablet{
            padding: 12px 0;
            background-color: transparent;


        }
    }

   

}