.row{

    @mixin clearfix;



&--gutters {
    margin-right:-65px;
}

&--gutters-small {
    margin-right:-45px;
}

&--gutters-large {
    margin-right:-100px;
}


&--gutters > div{
    padding-right:65px;
}

&--gutters-small > div{
    padding-right:45px;
}

&--gutters-large > div{
    padding-right:100px;
}


&__b-margin-until-medium{
    margin-bottom: 1rem;
}

&--top-padding{
    padding-top: 80px;
}

@mixin forTablet {

    &__b-margin-until-medium{
        margin-bottom: 0;
    }

    
        &__medium-33{
            float: left;
            width: 33.33%;
        }
    
        &__medium-33--larger{
            width: 37%;
        }
    
        &__medium-50{
            float: left;
            width: 50%;
        }
    
        &__medium-67{
            float: left;
            width: 66.66%;
        }
    
        &__medium-67--smaller{
            width: 63%;
        }
   
        
    

    
}

@mixin forDesktop{

    &__b-margin-until-large{
        margin-bottom: 0;
    }

    
        &__large-33{
            float: left;
            width: 33.33%;
        }
    
        &__large-33--larger{
            width: 37%;
        }
    
        &__large-50{
            float: left;
            width: 50%;
        }
    
        &__large-67{
            float: left;
            width: 66.66%;
        }
    
        &__large-67--smaller{
            width: 63%;
        }
   
        
    

    
}

&--equal-height-at-medium {

    @mixin forTablet {
        display: flex;

        & > div {
            float: none;
            display: flex;
        }
    }
   
}

&--equal-height-at-large {
    @mixin forDesktop {
        display: flex;

        & > div {
            float: none;
            display: flex;
        }
    }
   
}


}