.wrapper{
    padding-left: 19px;
    padding-right: 18px;
    max-width: 1236px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;

    &--medium{
        max-width: 976px;;
    }

    &--no-padding-until-medium{
        padding-left: 0;
        padding-right: 0;

        @mixin forTablet{
            padding-left: 19px;
            padding-right: 18px;
        }
    }

    &--no-padding-until-large{
        padding-left: 0;
        padding-right: 0;

        @mixin forDesktop{
            padding-left: 19px;
            padding-right: 18px;
        }
    }

    .wrapper{
        padding-left: 0;
        padding-right: 0;
    }

    &--b-margin{
        margin-bottom: 1rem;

        @mixin forTablet {
            margin-bottom: 3.275rem;
        }
    }
}